nav{
    background-color: rgb(98, 162, 219);
 
    

}
.menu-bar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../media/R.jpg);
    background-image: min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:start;
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    height: 100px;
img{
    width: 100px;
    
    

}
a{
    text-decoration: none;
    color:red;
    font-weight: bold;`
    font-size: 20px;
}
.menu-item{
    

    padding: 0px;
    flex-grow: 1;
}
.logo{
    flex-grow: 1;
}
a:hover{
    color: white;
    text-decoration: underline;
}