{% extends "base.html" %}

{% block content %}
<h1>Author List</h1>
<a href="{% url 'add_author' %}" class="btn btn-primary">Add Author</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Author Name</th>
            <th>Biography</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.biography }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}